
<h1> Welcome <%= @current_user.email %> </h1>
<p><%= @current_user.status %></p>

<% if @current_user.status == 'prospective' %>
  <p>Please complete our teaching assistant questionnaire.  </p>
  <%= render '/applications/form', application:@application %>
<% elsif @current_user.status == 'pending' %>
  <p>Your application has been submitted and is being reviewed. You will be notified shortly if you have been accepted as a TA for GDISD.</p>
<% elsif @current_user.status == 'approved' %>
  <h2>Upcoming Classes</h2>
  <% @events.each do |event| %>
    <h3><%= link_to event.event_name, event %></h3>
  <% end %>
<% end %>
