<h1 class="opener-h1">Get Involved with GDI San Diego</h1>

<div class="row opener">
  <div class="col-md-9">
    <div class="underlined-headline">
      <h2>3 Easy Steps to Becomming a TA for Girl Develop It</h2>
    </div>
    <h3>1. Create your account</h3>
    <h3>2. Complete a questionnaire</h3>
    <h3>3. Sign up as a TA for a class</h3>
  </div>
  <div class="col-md-3">
    <% if current_user.nil? %>
      <h3>New to Girl Develop It San Diego?</h3>
      <h4>Sign Up to volunteer</h4>
      <p>Start here by creating a new account</p>
      <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-default" %>
      <h3>Already signed up?</h3>
      <h4>Log in to your account</h4>
      <%= link_to "Sign In", user_session_path, class: "btn btn-default" %>
    <% end %>
  </div>
</div>
