<h1>About GDI San Diego</h1>

<div class="container">
  <section id="content-section">
    <div class="headline">
      <%= image_tag ('gdi-flourish.png') %>
      <h2 class="team-h2">THE LEADERS</h2>
    </div>
    <div class="profiles row">
      <div class="single-profiles col-xs-12">
        <div class="profile-img">
        </div>
        <div class="profile-content">
          <div class="col-xs-6">
            <%= image_tag ('Shana_Moore.jpeg'), alt: 'Shana_Moore', class: 'profile-image' %>
          </div>
          <div class="col-xs-6 bio">
            <h3 class="team-h3">SHANA L. MOORE</h3>
            <p>Working as administrative support for several years, Shana first knew she'd be interested in programming after teaching herself how to problem solve and manipulate Excel, via macros and VBA, to better customize the needs of her team. Her interest in web development stemmed from the desire to create an extension of her Youtube channel, in the form of a website and/or app, but her curiosity didn't stop there. After attending many meetup groups and events, Shana particularly fell in love with Ruby and its warm community, but she's enjoyed learning other languages and frameworks too!</p>
            <ul class="media-links">
              <a href="mailto:shana@girldevelopit.com">
                <i class="fa fa-envelope"></i>
              </a>
              <a href="http://shanalmoore.com">
                <i class="fa fa-globe"></i>
              </a>
              <a href="https://twitter.com/shay_nuh_">
                <i class="fa fa-twitter"></i>
              </a>
            </ul>
          </div>
        </div>
      </div>
      <div class="single-profiles col-xs-12">
        <div class="profile-img">
        </div>
        <div class="profile-content">
          <div class="col-xs-6">
            <%= image_tag ('Courtney_Lach.jpeg'), alt: 'Courtney_Lach', class: 'profile-image' %>
          </div>
          <div class="col-xs-6 bio">
            <h3 class="team-h3">COURTNEY LACH</h3>
            <p>Originally from the Philadelphia area, Courtney traded in harsh winters for the sunny skies of San Diego to start working in the tech industry. She leads Qualcomm’s student engagement programs, ranging from overseeing their top ranked internship program to hosting development conferences to building interactive hackathons.  She loves using her creativity to form programs that empower students, especially women, to connect with technology and the careers they are passionate about. A novice coder, she first got hooked on programming when she built a website for her wedding, and has been honing her skills through GDI ever since. When not traveling, you'll find her perfecting one of her numerous craft projects (needle felting anyone?) or rock climbing with her husband.</p>
            <ul class="media-links">
              <a href="mailto:courtney@girldevelopit.com">
                <i class="fa fa-envelope"></i>
              </a>
              <a href="https://twitter.com/https://twitter.com/CareerCourtney">
                <i class="fa fa-twitter"></i>
              </a>
              <a href="https://www.linkedin.com/in/https://www.linkedin.com/in/courtneylach">
                <i class="fa fa-linkedin"></i>
              </a>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
