.team-h2{
  border-bottom: 1px dashed #f95a61;
}
.team-h3{
  font-size: 24px;
  border-bottom: 1px dashed #f95a61;
}
.headline {
    text-align: center;
    margin-top: 40px;
}
.headline img {
    height: 35px;
    display: block;
    margin: auto;
}
.headline h2 {
    font-weight: 300;
    color: #d8ae64;
    padding: 0px 5px 6px 5px;
    display: inline-block;
    margin: .5rem auto 3rem auto;
}
.profile-image {
    width: 100%;
    margin-top: 25px;
    box-shadow: 0.025rem 0.025rem 0.5rem #bdbec0;
    border-radius: 5px;
    margin-bottom: 20px;
    max-width: 330px;
}
.single-profile .profile-content:last-child {
    margin-right: 0;
}
.single-profile .profile-content {
    font-size: 16px;
    float: left;
    display: block;
    margin-right: 3.57866%;
    width: 61.158%;
    margin-right: 0;
}
.bio p{
  font-size: 16px;
  font-weight: 300;
  letter-spacing: .05rem;
  color: #2d2e2e;
  line-height: 24px;
}
.media-links {
  list-style: none;
    padding: 0px;
    margin: 0px 0px 0px 0px;
    font-size: 14px;
    display: inline-block;
}
.media-links a {
    display: inline-block;
    font-size: .8em;
    color: #f95a61;
    border-radius: 50%;
    margin: 4px;
    padding-top: 6px;
    text-align: center;
    height: 30px;
    width: 30px;
}
.media-links a:hover{
  height: 30px;
  width: 30px;
  background-color: #d8ae64;
}
.media-links a i{
    font-size: 16px;
    line-height: 1;
}
.media-links a:visited {
    color: #f95a61 !important;
}
.media-links a:hover, a:focus{
  color: white !important;
}
.single-profiles{
  margin-bottom: 40px;
}
