// Place all the styles related to the Applications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "font-awesome";

body{
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  text-transform: uppercase;
}
.opener{
  text-align: center;
}
.opener-h1, h1 {
  text-align: center;
  color: #2a4758;
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 50px;
  height: auto;
  width: 100%;
}
.opener h2{
  font-size: 2rem;
  color: #282828;
  font-weight: 400;
  letter-spacing: .1rem;
  line-height: 1.8rem;
}
.underlined-headline hr {
    width: 100%;
    border-top: 2px solid #d8ae64;
    border-bottom: 2px solid #d8ae64;
    margin-bottom: 30px;
    height: 6px;
}
.opener h3 {
  font-size: 1.5rem;
  color: #282828;
  font-weight: 400;
  letter-spacing: .1rem;
  line-height: 1.8rem;
}
.opener h4{
  font-size: 1rem;
  color: #282828;
  font-weight: 400;
  letter-spacing: .1rem;
  line-height: 1.8rem;
}
.opener p{
  font-size: 1.025rem;
  font-weight: 300;
  letter-spacing: .05rem;
  color: #2d2e2e;
  line-height: 1.5rem;
}
.btn.btn-default{
  text-transform: uppercase;
  border: 0;
  border-radius: 0;
  background: #f95a61;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 10px 20px;
  margin: 20px auto;
  cursor: pointer;
  color: white;
  letter-spacing: .14rem;
}
.btn.btn-default:hover, .btn.btn-default:focus, .btn.btn-default:active{
    color: #fbcfc6 !important;
    background-color: #f95a61 !important;
}
