.navbar.navbar-default {
  background-color: #f95a61;
  border-color: #f95a61;
}
.navbar{
  height: 100px;
}
.container-fluid{
  max-width: 68em;
  margin: 0;
  padding: 0;
  width: 965px;
  max-width: 100%;
}
.navbar-brand.nav {
  float: left;
  padding: 20px 0px;
  font-size: 18px;
  line-height: 20px;
  height: auto;
}
.logo{
  width: 129px;
  max-width: 100%;
  // height: auto;
}
.nav.navbar-nav{
  float: right;
}
.navbar-default .navbar-nav > li > a {
    color: white !important;
}
.navbar-default .navbar-nav > li > a:hover {
    background-color: #282828 !important;
    color: #fbcfc6 !important;
    height: 113px;
}

.nav.navbar-nav li a {
    color: white;
    font-style: italic;
    font-size: 16px;
    letter-spacing: .05rem;
    // padding: 1.5rem;
    // margin-bottom: 0em;
    // padding: 3rem 1rem 3rem 1rem;
    padding: 48px 16px 48px 16px;
}
.navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 23px;
}




// @media (min-width: 768px){
//   .container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
//     height: 100px;
//   }
// }

// header nav a {
//     display: block;
//     color: white;
//     font-style: italic;
//     font-weight: 300;
//     font-size: 1.1rem;
//     letter-spacing: .05rem;
//     padding: 1.5rem;
//     margin-bottom: 0em;
// }
