<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
      body {
        padding: 0 20px;
        font-family: sans-serif;
      }
    </style>
  </head>

  <body>
    <h1>Girl Develop It San Diego TA Application</h1>

    <p>Thank you <%= @name %> for volunteering for Girl Develop It San Diego.</p>
    <p>Your application for GDI Teaching Assistant has been approved. A list of events that you can volunteer for is now available on your dashboard.</p>
  </body>
</html>
